@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    /* background: linear-gradient(45deg, #fff, #77ff00); */
    background-color: burlywood;
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.boll{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
}
.container{
    width: 400px;
    height: 400px;
    /* border: 1px solid black; */
    display: flex;
    border-radius: 15px;
    box-shadow: 0 0 20px gray;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    margin: 0 auto;
}

.box{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 50px;
}
button{
    width: 150px;
    cursor: pointer;
    height: 60px;
    outline: none;
    border: none;
    font-size: 20px;
    color: white;
    background-color: rgb(108, 2, 2);
    border-radius: 20px;
}
button:hover{
    background-color: rgb(167, 3, 3);
    box-shadow: 0 0 10px red;
}