.Sorry{
    color: black;
    font-size: large;
    text-shadow: 1 2 1 gray;
    text-align: center;
}
.cool{
    color: black;
    font-size: large;
    text-shadow: 1 2 1 gray;
    text-align: center;
}